body { background-color: #fbfbfb; }

.container {
    margin-left: 10px;
    display: flex;    
    flex-direction: column;
}

#my-div {
    margin-top: 20px;
    width: 100%;
    max-width: 200px;
    background-color: #485763;
}

pre {
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    padding: 20px;
}

label { margin-top: 10px; font-size: 18px; width: 100%; }

input[type="text"] {
    background-color: #4e4e4e;
    color: #fff;    
    border: 2px solid #FFC107;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
    max-width: 200px;
}

#btn , #result { 
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 30px;
    max-width: 200px;    
}

#btn {
    background-color: #F44336;    
    border: 1px solid;
    font-weight: bold;
}

#result {
    background-color: #607D8B;
    max-width: 51px;
    font-size: 16px;
    text-align: center;
}